@charset 'UTF-8';
// Docs: https://sass-guidelin.es/
// I am using only on scss file because it is a simple project.

// Google Fonts
// In case of using another GFonts, remember to add the links in html head
$font-text: 'Mukta', sans-serif;
$font-titles: 'Walter Turncoat', cursive;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
        &::before, &::after {
        box-sizing: border-box;
        }
}

body {
    min-height: 100vh;
    background-image: url(../img/background.png);
    text-align: center;
}

.logo {
    width: 20vh;
    height: 15vh;
}


h2 {
    font-family: $font-titles;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(162, 230, 26);
}

a {
    display: block;
    max-width: 400px;
    padding: 0.5rem 1.5rem;
    margin: 0 auto 15px auto;
    color: whitesmoke;
    font-family: $font-text;
    border: 2px solid wheat;
    text-decoration: none;
}

.social {
    display: flex;

    a {
        flex: 1; // Every a in social class will keep same aspect ratio
    }
}